<!DOCTYPE html>
<html>
<head>
	<title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  	<link rel="stylesheet" href="css/bootstrap-slider.min.css">
	<link rel="stylesheet" type="text/css" href="css/roundslider.min.css">
	<link rel="stylesheet" type="text/css" href="css/remote.css">
	<link rel="stylesheet" type="text/css" href="css/rangeslider.css">
	<style type="text/css" id="css"></style>
</head>
<body ng-app="APP" ng-controller="mainCtrl">
	<div id="slider1"></div>
	<div id="slider2"></div>	
	<input id="speed" data-slider-id='exSpeed' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="0" data-slider-orientation="vertical"/>
	<div id="dir">
		<div class="">
			<button type="button" ng-click="emit('en',!en)" ng-class="en ? 'sel' : ''" class="btn btn-light">เดิน</button>
			<button type="button" ng-click="emit('beep',!beep)" ng-class="beep ? 'sel' : ''" class="btn btn-light">แตร</button>
			<button type="button" ng-click="emit('pidon',!pidon)" ng-class="pidon ? 'sel' : ''" class="btn btn-light">PID</button>
		</div>
		<br>
		<div class="btn-group" role="group">
			<button type="button" ng-click="emit('dir',0)" ng-class="dir == 0 ? 'sel' : ''" class="btn btn-light">หยุด</button>
			<button type="button" ng-click="emit('dir',1)" ng-class="dir == 1 ? 'sel' : ''" class="btn btn-light">เดินหน้า</button>
			<button type="button" ng-click="emit('dir',2)" ng-class="dir == 2 ? 'sel' : ''" class="btn btn-light">ถอยหลัง</button>
		</div>
		<br><br>
		<div class="btn-group" role="group">
			<button type="button" ng-click="emit('liftup',0)" ng-class="liftup == 0 ? 'sel' : ''" class="btn btn-light">ลิฟหยุด</button>
			<button type="button" ng-click="emit('liftup',1)" ng-class="liftup == 1 ? 'sel' : ''" class="btn btn-light">ลิฟขึ้น</button>
			<button type="button" ng-click="emit('liftup',2)" ng-class="liftup == 2 ? 'sel' : ''" class="btn btn-light">ลิฟลง</button>
		</div>
		<br><br>
		<div class="btn-group" role="group">
			<button type="button" ng-click="emit('goHome',home)" ng-show="home != null" class="btn btn-light">กลับบ้าน</button>
			<button type="button" ng-click="emit('toStandby',home)" ng-show="stand" class="btn btn-light">ไปรองาน</button>
			<!-- <button type="button" ng-click="emit('safety',home)" ng-class="safety ? 'sel' : ''" class="btn btn-light">Safety</button> -->
		</div>
		<br><br>
		<div class="btn-group" role="group">
			<button type="button" ng-click="emit('seejob',home)" ng-show="!ready && home != null" class="btn btn-light">รับงาน</button>
		</div>
		<br><br>
		<div id="">{{var}}</div>
	</div>
	<script type="text/javascript" src="js/jquery-2.2.4.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script src="js/bootstrap-slider.min.js"></script>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/socket.io.js" ></script>
	<script type="text/javascript" src="js/rangeslider.min.js" ></script>
	<script type="text/javascript" src="js/roundslider.min.js"></script>
	<script type="text/javascript">
		let app = angular.module('APP', []);
		app.controller('mainCtrl', function($scope, $http) {
			$(document).ready(function() {
				$('input[type="range"]').rangeslider({
				    polyfill: false,
				    onInit: function() {

				    }
				  })
				  .on('input', function() {

				  });

				$scope.selDeg = 90;
				$("#slider1").roundSlider({
				    circleShape: "half-top",
				    min: 0,
				    max: 180,
				    value: 90,
				    startAngle: 0,
				    editableTooltip: false,
				    radius: $(window).width() / 2 * 0.9,
				    width: 40,
				    handleShape: "dot",
				    handleSize: "60,20",
				    animation: false,
				    drag: (e)=>{
				    	$scope.selDeg = e.value;
				    	socket.emit('selDeg', e.value);
				    },
				    change: (e)=>{
				    	if(e.preValue != e.value){
							$scope.selDeg = e.value;
						    socket.emit('selDeg', e.value);
						}
				    }
				});

				$("#slider2").roundSlider({
				    min: 0,
				    max: 180,
				    value: 90,
				    showTooltip: false,
				    radius: $(window).width() / 2 * 0.9,
				    width: 40,
				    handleSize: 0,
				    handleShape: "square",
				    circleShape: "half-top",
				    animation: true
				});

			    var slider = new Slider("#speed", {
					reversed : true,
    				ticks: [0, 50, 100],
    				ticks_labels: ['0%', '50%', '100%']
				}).on('slide', (e)=>{
					$scope.selSpd = e;
				    socket.emit('selSpd', e);
				}).on('change', (e)=>{
					if(e.oldValue != e.newValue){
						$scope.selSpd = e;
					    socket.emit('selSpd', e.newValue);
					}
				});
				$('#css').append('.slider.slider-vertical, #dir{ top:' + (($(window).width() / 1.8) + 20) +'px; }');
				$('#css').append('#slider2 .rs-handle:after{ width:' + $(window).width() / 2 * 0.9 +'px; }');

				$scope.home = null;
				$scope.stand = false;
				var socket = io.connect('/');
			    if(socket){
			        socket.on('conn', function (msg) {
			            console.log("My id: " + msg);
			        });

			        socket.on('var', function (msg) {
			        	// selDeg = msg.selDeg;
				        // $('#var').html(syntaxHighlight(msg));
			        	$("#slider2").roundSlider("setValue", msg.currDeg);
			        	$("#slider1").roundSlider("setValue", msg.selDeg);
			        	$scope.$apply(()=>{
				        	$scope.en = msg.en;
				        	$scope.beep = msg.beep;
				        	$scope.pidon = msg.pidon;
				        	$scope.dir = msg.dir;
				        	$scope.liftup = msg.liftup;
				        	$scope.safety = msg.safety.on;
				        	$scope.ready = msg.ready;
				        	slider.setValue(msg.selSpd);
				        	$scope.var = msg;//JSON.stringify(msg, null, 2);

				        	let a = $scope.var.ar.find(d => d[0] == 51);
			        		let b = $scope.var.ar.find(d => d[0] == 111);
			        		if(a && a[1] < 50 && $scope.var.to == null && ($scope.var.deg > 350 || $scope.var.deg < 10)){
				        		$scope.home = 51;
				        	}else if(b && b[1] < 160 && $scope.var.to == null && ($scope.var.deg > 80 || $scope.var.deg < 100)){
				        		$scope.home = 111;
				        	}else{ $scope.home = null; }

				        	a = $scope.var.ar.find(d => d[0] == 25);
			        		if(a && $scope.var.to == null && ($scope.var.deg > 300 || $scope.var.deg < 45)){
				        		$scope.stand = true;
				        	}else{ $scope.stand = false; }
				        });
			        });

			        $scope.emit = (name, val)=>{
			        	socket.emit(name, val);
			        }
			    }

			    // var imgsio = io.connect('ws://localhost:5000/');
			    // if(imgsio){
			    //     imgsio.on('conn', function (msg) {
			    //         console.log("Imgsio id: " + msg);
			    //     });

			    //     imgsio.on('img', function (msg) {
			    //     	console.log(msg);
			    //     });
			    // }
			});
		});
	</script>
</body>
</html>