<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./lib/themes/jquery.ui.all.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/maps.css" />

    <script type="text/javascript" src="lib/es5-shim.min.js"></script>
    <script type="text/javascript" src="lib/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="lib/ui/jquery.ui.core.min.js"></script>
    <script type="text/javascript" src="lib/ui/jquery.ui.widget.min.js"></script>
    <script type="text/javascript" src="lib/ui/jquery.ui.mouse.min.js"></script>
    <script type="text/javascript" src="lib/ui/jquery.ui.draggable.min.js"></script>
    <script type="text/javascript" src="lib/ui/jquery.ui.accordion.min.js"></script>
    <script type="text/javascript" src="lib/ui/jquery.ui.slider.min.js"></script>
    <script type="text/javascript" src="js/socket.io.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js" ></script>
    <style type="text/css">
        image.aruco:hover{
            opacity: 1;
        }
        .on:hover{
            opacity: 1;
        }
        svg{

        }
    </style>
</head>
<body ng-app="APP" ng-controller="mainCtrl">
    <!-- <h1>{{alert}}</h1> -->
    <svg width="1700" height="860" style="padding: 0px 0px;">
    </svg>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="app/socket.io.js"></script>
    <script src="app/calc.js"></script>
    <script src="app/safetyCtrl.js"></script>
    <!-- <script src="./app/mapsCtrl.js"></script> -->
    <script type="text/javascript">
    </script>
</body>
</html>